 out                                                                             
  4 *.iml                                                                           
  5 /bin/                                                                           
  6 /.metadata/ 
